@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
 padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn{
  background: blue;
  color: #f5f5f5;
  border: none;
  padding: 14px 14px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  width: max-content;
}